.home-container {
  margin-top: 52px;
}
.upcoming-movies {
  display: flex;
  flex: 1 1;
  align-items: center;
  background-color: #ff9999;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
}
.um-text {
  padding: 8px;
  font-size: 1rem;
}

.movie-list {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap !important;
}

.movie-tile {
  width: calc(100vw / 6) !important;
  height: 186px !important;
}

.movie-list > .MuiGridList-root {
  flex-wrap: nowrap !important;
}

.movie-showcase {
  width: 76%;
}

.movie-showcase-container {
  display: flex;
}

.movie-showcase-tile {
  margin: 16px;
  cursor: pointer;
}

.filter-container {
  display: flex;
  width: 24%;
}

.filter-card {
  height: fit-content;
}

.filter-title {
  color: #757ce8;
  font-size: 1rem !important;
}

.filter-card > .MuiCardContent-root:last-child {
  display: flex;
  flex-direction: column;
}

.apply-btn {
  margin-top: 16px !important;
}
